<div fxLayout="column" fxLayoutAlign="center center" class="container">
    <h1 class="title">WE CREATE CHARACTER</h1>
    <p class="text">Every era has its pioneers. Our story describes a family business that grew into a now global family of companies. We think in terms of generations and our actions are based on our responsibility for the future of our environment.<br> This is how we shape the character of the mobility of tomorrow.</p>
    <button mat-raised-button color="primary" (click)="startApp()"><b>USE APPLICATION</b></button>
  </div>