<mat-sidenav-container fullscreen [hasBackdrop]="false">
  <mat-sidenav #sidenav mode="over">
    <ul fxLayout="column" fxLayoutGap="20px">
      <div *ngIf="isDriver">
        <a routerLink="/home" routerLinkActive="is-active" (click)="close()">
          <li matTooltip="Click here to make an appointment"  [matTooltipPosition]='right' fxLayout="row">Home</li>
        </a>
      </div>
      <div *ngIf="isManager">
        <a routerLink="/checkin" routerLinkActive="is-active" (click)="close()">
          <li matTooltip="Click here to go to check-in page"  [matTooltipPosition]='right' fxLayout="row">Check-In</li>
        </a>
      </div>
      <div *ngIf="isAdmin">
        <a routerLink="/drivers" routerLinkActive="is-active" (click)="close()">
          <li matTooltip="Click here to go to drivers page"  [matTooltipPosition]='right' fxLayout="row">Drivers</li>
        </a>
      </div>
      <div *ngIf="isAdmin">
        <a routerLink="/managers" routerLinkActive="is-active" (click)="close()">
          <li matTooltip="Click here to go to location managers page"  [matTooltipPosition]='right'fxLayout="row">Location Managers</li>
        </a>
      </div>
      <div *ngIf="isManager">
        <a routerLink="/locations" routerLinkActive="is-active" (click)="close()">
          <li matTooltip="Click here to go to location page"  [matTooltipPosition]='right' fxLayout="row">Locations</li>
        </a>
      </div>
      <div *ngIf="isDriver">
        <a routerLink="/transports" routerLinkActive="is-active" (click)="close()">
          <li matTooltip="Click here to view your transports"  [matTooltipPosition]='right' fxLayout="row">Transports</li>
        </a>
      </div>
      <div *ngIf="isManager">
        <a routerLink="/appointments" routerLinkActive="is-active" (click)="close()">
          <li matTooltip="Click here to view all appointments of your location"  [matTooltipPosition]='right' fxLayout="row">Appointments</li>
        </a>
      </div>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>